.pad-left {
  margin-left: 10px;
}

.well div {
  color: #bbb;
}

p {
  margin: 10px;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 62px;
}

h3 {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 4.5em;
}
